# Métricas (Classificação - y discreto) (`precision`, `f1-score` ... ) e Erros (`MSE`, `MEA` ...) (Regressâo - y contínuo)

Best Links

Classification
+ https://medium.com/@george.drakos62/how-to-select-the-right-evaluation-metric-for-machine-learning-models-part-3-classification-3eac420ec991

Regression
+ https://medium.com/@george.drakos62/how-to-select-the-right-evaluation-metric-for-machine-learning-models-part-1-regrression-metrics-3606e25beae0
+ https://medium.com/@george.drakos62/how-to-select-the-right-evaluation-metric-for-machine-learning-models-part-2-regression-metrics-d4a1a9ba3d74

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file_path = "../files/"

## Classificação - Métricas

### Resumo

````

Matrix de Confusao    Nomenclatura das partes
 [[65  3]              [[TP  FP ]
 [ 3 29]]              [ FN  TN]]
 
-------------------------------------------------------

               precision    recall  f1-score   support

Not Purchased       0.96      0.96      0.96        68
    Purchased       0.91      0.91      0.91        32

     accuracy                           0.94       100
    macro avg       0.93      0.93      0.93       100
 weighted avg       0.94      0.94      0.94       100
 
-------------------------------------------------------
 
    Métricas por Classe 
    
OBS: É a matriz de confusâo particular para cada classe
    
Precision: Numero total de positivos do total dos classificados como posititovos par uma classe
    Precision = TP / TP + FP
    
Recall: Número de Positivos que foram devidamente identificados par auma classe
    Recall = TP / TP + FN
    
F1-Score: Média Harmonica entre precisao e recall
    F1-Score = 2 * Recall * Precision / Recall + Precision
    
Support: Quantidade de itens por classe
    Support = TP + FP
    
    Métricas Geral
    
Acurracy: O quanto acertou do total
    TP + TN / TP + FP + FN + TN
    

````

### Matriz de Confusão
<img src='../../tree/imgs/metricas-erros/metricas-erros-05.png' width=600px>

### Accuracy

<img src='../../tree/imgs/metricas-erros/metricas-erros-03.png' width=600px>

### Recall / Sensitivity / TPR

<img src='../../tree/imgs/metricas-erros/metricas-erros-04.png' width=600px>

### Precision

<img src='../../tree/imgs/metricas-erros/metricas-erros-06.png' width=600px>

### Precision vs Recall

<img src='../../tree/imgs/metricas-erros/metricas-erros-07.png' width=600px>


### Ohter value: Specifity

<img src='../../tree/imgs/metricas-erros/metricas-erros-08.png' width=600px>

<img src='../../tree/imgs/metricas-erros/metricas-erros-09.png' width=600px>

### Other Metrics

<img src='../../tree/imgs/metricas-erros/metricas-erros-10.png' width=600px>

### F1-Score : `HarmonicMean(Precision,Recall)`

<img src='../../tree/imgs/metricas-erros/metricas-erros-11.png' width=600px>

In [48]:
# Importing the dataset
dataset = pd.read_csv(file_path + 'Social_Network_Ads.csv')
X = dataset.iloc[:, [2, 3]].values
y = dataset.iloc[:, 4].values

dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [47]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [42]:
# Fitting XGBoost to the Training set
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [43]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [50]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
precisao = accuracy_score(y_test, y_pred)
matriz = confusion_matrix(y_test, y_pred)
print("Accuracy\n", precisao, "\n")
print("Matrix de Confusao\n",matriz, "\n")
print("Matrix de Confusao Porcentagem\n",matriz/matriz.sum(), "\n")
print(classification_report(y_test,y_pred, target_names=['Not Purchased', 'Purchased']))

# Explicando cada métrica
print("Precision: Numero total de positivos do total dos classificados como posititovos par auma classe")
print("Recall: Número de Positivos que foram devidamente identificados par auma classe")
print("F1-Score: Média Harmonica entre precisao e recall")
print("Support: Quantidade de amostras de uma classe")
print("Acurracy: O quanto acertou do total")

Accuracy
 0.94

Matrix de Confusao
 [[65  3]
 [ 3 29]]

Matrix de Confusao Porcentagem
 [[0.65 0.03]
 [0.03 0.29]]

               precision    recall  f1-score   support

Not Purchased       0.96      0.96      0.96        68
    Purchased       0.91      0.91      0.91        32

     accuracy                           0.94       100
    macro avg       0.93      0.93      0.93       100
 weighted avg       0.94      0.94      0.94       100

Precision: Numero total de positivos do total dos classificados como posititovos par auma classe
Recall: Número de Positivos que foram devidamente identificados par auma classe
F1-Score: Média Harmonica entre precisao e recall
Support: Quantidade de amostras de uma classe
Acurracy: O quanto acertou do total

## Regressão - Erros - Base `house-prices` 

**Regressão para prever preço de casa**

In [10]:
base = pd.read_csv(file_path + 'house-prices.csv')
base.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

#### Features `x`

In [16]:
X = base.iloc[:, 3:19].values

# Base de Features X
base[(list(base.columns))[3:19]].head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045

#### Value `y`

In [17]:
y = base.iloc[:, 2].values

# Base de Features Y
base[(list(base.columns))[2]].head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [18]:
# Split base in Train and Test
from sklearn.model_selection import train_test_split
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(
    X, y, test_size = 0.3,random_state = 0)

### Regressor Múltiplo

In [19]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_treinamento, y_treinamento)

# Previsões
previsoes = regressor.predict(X_teste)

### Coeficiente de Determinaçâo (R²) - `.score`

Links
+ http://www.portalaction.com.br/analise-de-regressao/16-coeficiente-de-determinacao
+ https://pt.wikipedia.org/wiki/Coeficiente_de_determina%C3%A7%C3%A3o
+ https://en.wikipedia.org/wiki/Coefficient_of_determination
+ https://stattrek.com/statistics/dictionary.aspx?definition=coefficient_of_determination
+ \+
    - https://pt.khanacademy.org/math/ap-statistics/bivariate-data-ap/assessing-fit-least-squares-regression/a/r-squared-intuition
    
    
Uma das formas de avaliar a qualidade do ajuste do modelo de regressão é através do **coeficiente de determinação** $ R^2 $. 

Basicamente, este coeficiente R² indica quanto o modelo foi capaz de explicar os dados coletados. O R² varia entre 0 e 1, indicando, em percentagem, o quanto o modelo consegue explicar os valores observados. Quanto maior o R², mais explicativo é o modelo, melhor ele se ajusta à amostra.

Por exemplo, se o R² de um modelo é 0,8234, isto significa que 82,34% da variável dependente consegue ser explicada pelos regressores presentes no modelo.


O coeficiente de determinação, também chamado de R², é uma medida de ajustamento de um modelo estatístico linear generalizado, como a regressão linear, em relação aos valores observados. 

**Fórmula**

<img src='../../tree/imgs/metricas-erros/metricas-erros-01.png' width=600px>



---

#### Observações

ou seja, é a razão entre a soma de quadrados da regressão e a soma de quadrados total. No modelo com intercepto, podemos escrever

O $ R^2 $ é, portanto, uma medida descritiva da qualidade do ajuste obtido. Em geral referimo-nos ao $ R^2 $ como a quantidade de variabilidade nos dados que é explicada pelo modelo de regressão ajustado. Entretanto, o valor do coeficiente de determinação depende do número de observações $ (n) $, tendendo a crescer quando $ n $ diminui. Se $ n = 2 $, tem-se sempre $ R^2 = 1. $

O $ R^2 $ deve ser usado com precaução, pois é sempre possível torná-lo maior pela adição de um número suficiente de termos ao modelo. Assim, se, por exemplo, não há dados repetidos (mais do que um valor $ y $ para um mesmo $ x $) um polinômio de grau $ (n - 1) $ dará um ajuste perfeito $ (R^2 = 1) $ para $ n $ dados. Quando há valores repetidos, o $ R^2 $ não será nunca igual a 1, pois o modelo não poderá explicar a variabilidade devido ao erro puro.

Embora $ R^2 $ aumente com a adição de termos ao modelo, isto não significa necessariamente que o novo modelo é superior ao anterior. A menos que a soma de quadrados residual do novo modelo seja reduzida por uma quantidade igual ao quadrado médio residual original, o novo modelo terá um quadrado médio residual maior do que o original, devido a perda de 1 grau de liberdade. Na realidade esse novo modelo poderá ser pior do que o anterior.

---

Nos modelos de Regressão do `sklearn`, você pode obtê-lo rapidamente com o método `.score(x_test, y_test)`. A maioria dos modelos regressores tem esse método.

In [21]:
score = regressor.score(X_treinamento, y_treinamento)
print("Score (ou R^2) do Treinamento =", score)

Score (ou R^2) do Treinamento = 0.7029888085955005

### Erros

Lista de todos os Erros e Métricas para Regressão

+ Mean Squared Error (MSE)
+ Root Mean Squared Error (RMSE)
+ Mean Absolute Error (MAE)
+ R Squared (R²)
+ Adjusted R Squared (R²)
+ Mean Squared Percentage Error (MSPE)
+ Mean Absolute Percentage Error (MAPE)
+ Root Mean Squared Logarithmic Error (RMSLE)

Links
+ https://www.datatechnotes.com/2019/02/regression-model-accuracy-mae-mse-rmse.html
+ https://medium.com/human-in-a-machine-world/mae-and-rmse-which-metric-is-better-e60ac3bde13d

---

<img src='../../tree/imgs/metricas-erros/metricas-erros-02.png' width=1000px>


#### MAE - Mean Absolute Error - Erro médio absoluto

+ A verdadeira média dos desvios
+ Ele dá menos pesos ao Valores muito grande (possíveis OutLiers) e por isso, menos sensível à eles

---

In MAE the error is calculated as an average of absolute differences between the target values and the predictions. The MAE is a linear score which means that all the individual differences are weighted equally in the average. For example, the difference between 10 and 0 will be twice the difference between 5 and 0. However, same is not true for RMSE. 

What is important about this metric is that it penalizes huge errors that not as that badly as MSE does. Thus, it’s not that sensitive to outliers as mean square error.
MAE is widely used in finance, where \$10 error is usually exactly two times worse than $5 error. On the other hand, MSE metric thinks that \$10 error is four times worse than $5 error. MAE is easier to justify than RMSE.

---

#### MSE e RMSE

+ RMSE gives a relatively high weight to large errors. This means the RMSE should be more useful when large errors are particularly undesirable

---

MSE basically measures average squared error of our predictions. For each point, it calculates square difference between the predictions and the target and then average those values.
The higher this value, the worse the model is. It is never negative, since we’re squaring the individual prediction-wise errors before summing them, but would be zero for a perfect model .

Advantage: Useful if we have unexpected values that we should care about. Vey high or low value that we should pay attention.

Disadvantage: If we make a single very bad prediction, the squaring will make the error even worse and it may skew the metric towards overestimating the model’s badness. That is a particularly problematic behaviour if we have noisy data (that is, data that for whatever reason is not entirely reliable) — even a “perfect” model may have a high MSE in that situation, so it becomes hard to judge how well the model is performing. On the other hand, if all the errors are small, or rather, smaller than 1, than the opposite effect is felt: we may underestimate the model’s badness.

Note that if we want to have a constant prediction the best one will be the mean value of the target values. It can be found by setting the derivative of our total error with respect to that constant to zero, and find it from this equation.

---
---

#### Comparando MAE e RMSE

+ RMSE has the benefit of penalizing large errors more so can be more appropriate in some cases, for example, if being off by 10 is more than twice as bad as being off by 5. But if being off by 10 is just twice as bad as being off by 5, then MAE is more appropriate. From an interpretation standpoint, MAE is clearly the winner. RMSE does not describe average error alone and has other implications that are more difficult to tease out and understand.

<img src='../../tree/imgs/metricas-erros/metricas-erros-12.png' width=600px>

In [31]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error
from math import sqrt

# MAE
mae = mean_absolute_error(y_teste, previsoes)
print("MAE  - MeanAbsoluteError   ==>", mae)

# MSE
mse = mean_squared_error(y_teste, previsoes)
print("MSE  - MeanSquareError     ==>", mse)

# RMSE
print("RMSE - RootMeanSquareError ==>", sqrt(mse))

# MSLE - Não pode ser usada em valore negativos
# msle = mean_squared_log_error(y_teste, previsoes)
# print("MSLE - MeanSquareLogError   ==>", msle)

MAE  - MeanAbsoluteError   ==> 123888.44377484432
MSE  - MeanSquareError     ==> 42760757001.54226
RMSE - RootMeanSquareError ==> 206786.74280896795